.c1{ display: flex;
    justify-content: space-between;

}

.c2{ display: flex;
    justify-content: space-between;

}

.c3{
    background-color: white;
    display: flex;
    justify-content: center;




}